In [1]:
import pandas as pd
d1={"Name":['sai','sub','poo'],"Age":[19,23,21]}
d2={"Qualified":[True,False,True]}

In [3]:
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)
#Join function
newdf=df1.join(df2)
print(newdf)

  Name  Age
0  sai   19
1  sub   23
2  poo   21
   Qualified
0       True
1      False
2       True
  Name  Age  Qualified
0  sai   19       True
1  sub   23      False
2  poo   21       True

In [13]:
#MERGE function
d1={"Name":['sai','sub','poo'],"Age":[19,23,21]}
d2={"Name":['Anbu','doss','guru'],"Age":[19,23,21]}
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)
newdf1=(df2.merge(df1,on="Age",how="right"))
newdf2=(df1.merge(df2,on="Age",how="left"))
print(newdf1)
print(newdf2)

  Name  Age
0  sai   19
1  sub   23
2  poo   21
   Name  Age
0  Anbu   19
1  doss   23
2  guru   21
  Name_x  Age Name_y
0   Anbu   19    sai
1   doss   23    sub
2   guru   21    poo
  Name_x  Age Name_y
0    sai   19   Anbu
1    sub   23   doss
2    poo   21   guru

In [4]:
import pandas as pd
df=pd.DataFrame({'team':['A','B','C','D'],'points':[90,56,78,88],'assists':[12,34,23,44],'rebounds':[56,43,55,12]})
print(df)
df=pd.melt(df,id_vars='team',value_vars=['points','assists','rebounds'])
print(df)

  team  points  assists  rebounds
0    A      90       12        56
1    B      56       34        43
2    C      78       23        55
3    D      88       44        12
   team  variable  value
0     A    points     90
1     B    points     56
2     C    points     78
3     D    points     88
4     A   assists     12
5     B   assists     34
6     C   assists     23
7     D   assists     44
8     A  rebounds     56
9     B  rebounds     43
10    C  rebounds     55
11    D  rebounds     12

In [8]:
#Assign data
data={'Name':['Sai','Yuvasri','Poovannan',
'Sabharish','Sangamithra','Rithika','Rubasri'],
'Age':[20,18,19,20,18,17,19],
'Gender':['M','F','M','M','F','F','F'],
'Marks':[90,76,'NaN',74,65,'NaN',71]}

In [9]:
#convert into datafram
df=pd.DataFrame(data)

In [11]:
#display data
print("Original DataFrame:\n",df)
#convert average
c=avg=0
for ele in df['Marks']:
    if str(ele).isnumeric():
        c+=1
avg+=ele
avg/=c

Original DataFrame:
           Name  Age Gender Marks
0          Sai   20      M    90
1      Yuvasri   18      F    76
2    Poovannan   19      M   NaN
3    Sabharish   20      M    74
4  Sangamithra   18      F    65
5      Rithika   17      F   NaN
6      Rubasri   19      F    71

In [12]:
#Replace missing values
df=df.replace(to_replace="NaN",value=avg)

In [13]:
#Display data
print("\nReplacing NaN with average marks:\n",df)

Replacing NaN with average marks:
           Name  Age Gender  Marks
0          Sai   20      M   90.0
1      Yuvasri   18      F   76.0
2    Poovannan   19      M   14.2
3    Sabharish   20      M   74.0
4  Sangamithra   18      F   65.0
5      Rithika   17      F   14.2
6      Rubasri   19      F   71.0

In [14]:
#Filter top scoring students
df=df[df['Marks']>=75]